* {
    box-sizing:border-box;
}

img {
    max-width: 100%;
}

body {
    background-color: bisque;
    font-size: 30px;
    font-family:'Comic Sans MS', cursive;
    
}

ol {
    font-size: 20px;
}
.banner {
    background-color:orangered;
    padding:50px;
    margin: 50px;
    margin-bottom:10px;
    color:rgb(255, 213, 0);
    text-align:center;
    font-family: "Rock 3D", system-ui;
    font-weight: 600;
    font-style: normal;
    font-size: 100px;
    border: 25px dotted rgb(99, 4, 4);
}

.home-link {
    display:block;
    height:100px;
    max-width:fit-content;
}

.container {
    position:relative;
    width:100%;
}

.image {
  display:block;
  width: 200px;
  height: auto;
}

.overlay {
  position:absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width:200px;
  opacity: 0;
}

.container:hover .overlay {
  opacity: 1;
}

.column {
  float: left;
  width: 20%;
  padding: 10px;
}


.row::after {
  content: "";
  clear: both;
  display: table;
}

.pochita-images img{
    border-radius:50%;
    display:grid;
    margin:auto;
}

p {
    background-color:lightsalmon;
    text-align:center;
    height:200px;
    padding:50px;
    margin:40px;
    overflow:auto;
    font-family:'Comic Sans MS', cursive;
    border: 10px outset rgb(81, 11, 11);
}

.my-other-world {
    background-color:lightsalmon;
    display: flex;
    justify-content: center;
    align-items: center;
    width:500px;
    font-family:'Comic Sans MS', cursive;
    border: 10px outset rgb(81, 11, 11);
}

a:link {
  color:black;
}

a:visited {
    color: teal;
}

a:hover {
    color:orangered;
}

a:active {
    color: orange;
}